    /* Animación para la línea roja */
    .nav-link {
      position: relative;
      display: inline-block;
    }
    .nav-link::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: #EF4444;
      transition: all 0.3s ease-in-out;
      transform: translateX(-50%);
    }
    .nav-link:hover::after,
    .nav-link.active::after {
      width: 100%;
    }


    /* Main Button Styles */
.group:hover > a {
  color: #ef4444; /* Red when hovered */
  background-color: #f8f8f8; /* Optional background effect */
}

/* Submenu visibility */
.group:hover > div {
  opacity: 1; /* Make submenu visible */
  visibility: visible; /* Ensure it's not hidden */
}

/* Submenu stays open on hover */
.group div:hover {
  opacity: 1; /* Keep it visible when hovered */
  visibility: visible;
}

/* Submenu transition for smooth effect */
.group > div {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Z-index ensures it's always on top */
.group > div {
  z-index: 50;
}

