<div class="album py-5" align="center">
    <div class="container" #contenido>
     
          
  
          <div class="main">
            <div class="contenido">
                <div class="header">
            <h1>Curso de Capacitación</h1>
            <p>"Modalidad de Educación Virtual"</p>
          </div>
              <h2>Detalles del Curso</h2>
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <h3>ÁREA OCUPACIONAL:</h3>
                  <p>COMPETENCIAS DOCENTES</p>
                </div>
                <div>
                  <h3>ESPECIALIDAD:</h3>
                  <p>DOCENCIA Y CAPACITACIÓN</p>
                </div>
                <div>
                  <h3>CURSO:</h3>
                  <p>"PROPICIAR EL APRENDIZAJE SIGNIFICATIVO EN EDUCACIÓN MEDIA SUPERIOR Y SUPERIOR, ALINEADO AL ESTÁNDAR EC0647"</p>
                </div>
                <div>
                  <h3>CLAVE DEL CURSO:</h3>
                  <p>CV-CDP-003</p>
                </div>
                <div>
                  <h3>DURACIÓN:</h3>
                  <p>40 HORAS</p>
                </div>
              </div>
  
              <div class="note">
                <h3>NOTA:</h3>
                <p>Estas son nuestras autoridades vigentes, pero sería oportuno que se puedan editar los nombres y puestos.</p>
              </div>
  
              <div class="author">
                <p>Elaborado por: Ing. Sergio Felipe Acosta Salinas</p>
              </div>
  
              <div class="reviewer">
                <p>Revisado por: MDO Roxana García Suárez</p>
              </div>
  
              <div class="approver">
                <p>Autorizado por: Mtro. Jorge Israel Acosta Benítez</p>
              </div>
            </div>
          </div>
  
          <!-- <div class="footer">
            <p>&copy; 2025 - Curso de Capacitación Virtual</p>
          </div> -->
      
    </div>
  
    <button (click)="generarPDF()" [class.loading]="generando" class="ui primary button">
      <i class="spinner loading icon" *ngIf="generando"></i>
      Crear PDF
    </button>
  </div>
  