<router-outlet></router-outlet>
<app-alert *ngIf="(alertService.alert$ | async) as alert" [message]="alert.message" [type]="alert.type"></app-alert>

<!-- Botón flotante -->
<button 
  *ngIf="showButton" 
  (click)="scrollToTarget()" 
  class="fixed right-4 bottom-4 w-12 h-12 bg-orange-500 text-white rounded-full flex items-center justify-center cursor-pointer shadow-lg transition-transform duration-300">
  <i class="fa" [ngClass]="isAtBottom ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
</button>
