<div *ngIf="registroCompletado; else formularioRegistro" class="relative z-50">
    <!-- Fondo borroso -->
    <div class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>

    <!-- Modal -->
    <div class="fixed inset-0 flex items-center justify-center p-4">
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full">
            <div class="text-center">
                <!-- Icono de Semantic UI -->
                <i class="check circle outline icon huge text-green-500"></i>
                <h2 class="mt-4 text-lg font-semibold text-gray-800">
                    ¡Registro completado!
                </h2>
                <p class="mt-2 text-sm text-gray-600">
                    Tu usuario ha sido creado exitosamente.
                </p>
                <!-- <p class="mt-2 text-lg font-bold text-gray-800">{{ email }}</p> -->
                <p class="mt-2 text-sm text-gray-600">
                    Por favor, verifica tu correo electrónico para activar tu cuenta.
                </p>
            </div>
            <div class="mt-4 text-center">
                <!-- Botón con evento de redirección -->
                <button (click)="cerrarYRedirigir()" class="bg-[#44509D] hover:bg-[#2a3878] text-white font-medium py-2 px-4 rounded-md">
          Cerrar
        </button>
            </div>
        </div>
    </div>
</div>



<ng-template #formularioRegistro>

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div *ngIf="isLoading" class="ui active inverted dimmer">
            <div class="ui text loader">Validando...</div>
        </div>

        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="text-center">
                <img class="mx-auto h-12 w-auto" src="https://www.icathi.edu.mx/img/ICATHI.png" alt="ICATHI">
                <h2 class="mt-6 text-3xl font-bold text-[#44509D] tracking-tight">
                    Formulario de Postulación Docente
                </h2>
                <p class="mt-4 text-sm text-gray-600">
                    Completa los datos requeridos para iniciar tu proceso de postulación.
                </p>
            </div>

            <!-- Barra de progreso -->
            <div class="mt-6 mb-6">
                <div class="relative pt-1">
                    <div class="flex mb-2 items-center justify-between">
                        <div class="w-1/4 text-center text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full">
                            Paso {{ currentStep }} de {{ totalSteps }}
                        </div>
                    </div>
                    <div class="flex mb-6">
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-[#44509D] text-xs leading-none py-1 text-center text-white" [ngStyle]="{'width': (currentStep / totalSteps) * 100 + '%'}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Formulario -->
            <form [formGroup]="postulationForm" (ngSubmit)="onSubmit()" class="space-y-6 mt-8">
                <!-- Paso 1: Nombre completo -->
                <!-- Paso 1: Nombre completo -->
                <div *ngIf="currentStep === 1">
                    <label for="firstName" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input formControlName="firstName" id="firstName" type="text" placeholder="Ingresa tu nombre" class="custom-input" />
                    <div *ngIf="postulationForm.get('firstName')?.touched && postulationForm.get('firstName')?.invalid" class="text-sm text-red-500 mt-2">
                        <div *ngIf="postulationForm.get('firstName')?.errors?.['required']">El nombre es obligatorio.</div>
                        <div *ngIf="postulationForm.get('firstName')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.
                        </div>
                    </div>

                    <label for="lastName1" class="block text-sm font-medium text-gray-700 mt-4">Apellido paterno</label>
                    <input formControlName="lastName1" id="lastName1" type="text" placeholder="Ingresa tu apellido paterno" class="custom-input" />
                    <div *ngIf="postulationForm.get('lastName1')?.touched && postulationForm.get('lastName1')?.invalid" class="text-sm text-red-500 mt-2">
                        <div *ngIf="postulationForm.get('lastName1')?.errors?.['required']">El apellido paterno es obligatorio.
                        </div>
                    </div>

                    <label for="lastName2" class="block text-sm font-medium text-gray-700 mt-4">Apellido materno</label>
                    <input formControlName="lastName2" id="lastName2" type="text" placeholder="Ingresa tu apellido materno" class="custom-input" />
                    <div *ngIf="postulationForm.get('lastName2')?.touched && postulationForm.get('lastName2')?.invalid" class="text-sm text-red-500 mt-2">
                        <div *ngIf="postulationForm.get('lastName2')?.errors?.['required']">El apellido materno es obligatorio.
                        </div>
                    </div>
                </div>


                <!-- Paso 2: Correo electrónico -->
                <div *ngIf="currentStep === 2">
                    <label for="email" class="block text-sm font-medium text-gray-700">Correo electrónico</label>
                    <input formControlName="email" id="email" type="email" placeholder="Ingresa tu correo" class="custom-input" />
                    <div *ngIf="postulationForm.get('email')?.touched && postulationForm.get('email')?.invalid" class="text-sm text-red-500 mt-2">
                        <div *ngIf="postulationForm.get('email')?.errors?.['required']">El correo electrónico es obligatorio.</div>
                        <div *ngIf="postulationForm.get('email')?.errors?.['email']">El correo electrónico no es válido.</div>
                    </div>
                </div>

                <!-- Paso 3: Teléfono -->
                <!-- Paso 3: Teléfono -->
                <div *ngIf="currentStep === 3">
                    <label for="phone" class="block text-sm font-medium text-gray-700">Teléfono</label>
                    <input formControlName="phone" id="phone" type="tel" placeholder="Ingresa tu número de teléfono" class="custom-input" maxlength="10" (keypress)="soloNumeros($event)" />
                    <div *ngIf="postulationForm.get('phone')?.touched && postulationForm.get('phone')?.invalid" class="text-sm text-red-500 mt-2">
                        <div *ngIf="postulationForm.get('phone')?.errors?.['required']">El teléfono es obligatorio.</div>
                        <div *ngIf="postulationForm.get('phone')?.errors?.['pattern']">El teléfono debe tener exactamente 10 dígitos.
                        </div>
                    </div>
                </div>


                <!-- Botones de navegación -->
                <div class="flex justify-between items-center mt-6">
                    <button *ngIf="currentStep > 1" type="button" (click)="prevStep()" class="px-6 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 focus:outline-none">
            Anterior
          </button>
                    <button *ngIf="currentStep === 1" type="button" (click)="goHome()" class="px-6 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 focus:outline-none">
            Regresar
          </button>
                    <div>
                        <button *ngIf="currentStep < totalSteps" type="button" (click)="nextStep()" class="px-6 py-2 bg-[#44509D] text-white rounded-lg hover:bg-[#2d3d6e] focus:outline-none">
              Siguiente
            </button>
                        <button *ngIf="currentStep === totalSteps" type="submit" class="px-6 py-2 bg-[#44509D] text-white rounded-lg hover:bg-[#2d3d6e] focus:outline-none">
              Enviar
            </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</ng-template>

<style>
    .custom-input {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        border: none;
        border-bottom: 2px solid #ccc;
        background-color: #f9f9f9;
        border-radius: 4px;
        transition: border-color 0.3s, box-shadow 0.3s;
    }
    
    .custom-input:focus {
        border-bottom-color: #44509D;
        box-shadow: 0px 2px 6px rgba(68, 80, 157, 0.2);
        outline: none;
    }
</style>