<div class="container mx-auto p-4">
  <!-- Tabla de cursos -->
  <div>
    <table
      class="min-w-full table-auto bg-white rounded-lg shadow-md overflow-hidden"
    >
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left">ID</th>
          <th class="px-4 py-2 text-left">NOMBRE DEL AREA DEL CURSO</th>
          <th class="px-4 py-2 text-left">ACCIONES</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let area of areas">
          <td class="px-4 py-2">{{ area.id }}</td>
          <td class="px-4 py-2">{{ area.nombre }}</td>
          <!-- Columna Estatus -->
          <td class="px-4 py-2">
            <button
              (click)="solicitarCurso(area.id)"
              class="bg-green-600 text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-green-700 transition duration-200"
            >
              Solicitar
            </button>

            <button
              (click)="verDetalles(area.id)"
              class="bg-purple-600 text-white font-semibold px-4 py-2 rounded-lg shadow-md hover:bg-purple-700 transition duration-200 ml-2"
            >
              Ver detalles
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div *ngIf="isLoading" class="text-center py-4">
  <p>Cargando cursos...</p>
</div>
<!-- Modal -->
<div
  class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50"
  *ngIf="mostrarFormulario"
>
  <div
    class="bg-white rounded-lg shadow-lg p-6 w-full flex flex-row space-x-4 "
    [ngClass]="{
      'sm:w-[60rem]': !url,
      'sm:w-[88rem]': url
    }"
    >
    <!-- Formulario -->
    <div class="w-1/2"
    [ngClass]="{
      'sm:w-[60rem]': !url,
      'sm:w-[88rem]': url
    }">
      <h2 class="text-lg font-semibold mb-4">📝 Solicitar Curso</h2>

      <form
        [formGroup]="cursoForm"
        (ngSubmit)="enviarSolicitud()"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <!-- Especialidad -->
          <div>
            <label class="block mb-2 text-sm">Especialidad</label>
            <select
              (change)="onEspecialidadChange($event)"
              formControlName="especialidad_id"
              class="w-full p-2 border rounded-md"
            >
              <option value="" disabled>Seleccione la Especialidad</option>
              <option
                *ngFor="let especialidad of especialidadesByArea"
                [value]="especialidad.id"
              >
                {{ especialidad.nombre }}
              </option>
            </select>
            <div
              *ngIf="
                cursoForm.get('especialidad_id')?.invalid &&
                cursoForm.get('especialidad_id')?.touched
              "
              class="text-red-500 text-sm"
            >
              La especialidad es obligatoria.
            </div>
          </div>

          <!-- curso -->
          <div>
            <label class="block mb-2 text-sm">Curso</label>

            <select
            *ngIf="cursosByEspecialidad"
            formControlName="curso_id"
            class="w-full p-2 border rounded-md"
          >
            <option value="" disabled>Seleccione el Curso</option>
            <option
              *ngFor="let curso of cursosByEspecialidad"
              [value]="curso.id"
              [disabled]="curso.registrado"
            >
              {{ curso.nombre }} {{ curso.registrado ? '(Registrado)' : '' }}
            </option>
          </select>


            <div
              *ngIf="
                cursoForm.get('curso_id')?.invalid &&
                cursoForm.get('curso_id')?.touched
              "
              class="text-red-500 text-sm"
            >
              El área es obligatoria.
            </div>

            <span *ngIf="!cursosByEspecialidad"
              >los cursos no disponibles de esta especialidad</span
            >
          </div>
          <!-- Horario -->
          <div class="flex items-center">
            <label class="block mb-2 text-sm mr-4">Horario</label>
            <input
              type="text"
              formControlName="horario"
              class="flex-1 p-2 border rounded-md"
              placeholder="Ej. Lunes a Viernes, 9am - 12pm"
            />
          </div>

          <!-- Cupo Máximo -->
          <div class="flex items-center">
            <label class="block mb-2 text-sm mr-4">Cupo Máximo</label>
            <input
              type="number"
              formControlName="cupo_maximo"
              class="flex-1 p-2 border rounded-md"
              placeholder="Ej. 30"
            />
          </div>

          <!-- Requisitos Extra -->
          <div class="col-span-2">
            <label class="block mb-2 text-sm">Requisitos Extra</label>
            <textarea
              formControlName="requisitos_extra"
              class="w-full p-2 border rounded-md"
              placeholder="Ej. Materiales necesarios"
              rows="2"
            ></textarea>
          </div>

          <!-- Fecha de Inicio -->
          <div class="flex items-center">
            <label class="block mb-2 text-sm mr-4">Fecha de Inicio</label>
            <input
              type="date"
              formControlName="fecha_inicio"
              class="flex-1 p-2 border rounded-md"
            />
          </div>

          <!-- Fecha de Fin -->
          <div class="flex items-center">
            <label class="block mb-2 text-sm mr-4">Fecha de Fin</label>
            <input
              type="date"
              formControlName="fecha_fin"
              class="flex-1 p-2 border rounded-md"
            />
          </div>
        </div>

        <!-- file -->
        <div class="w-full mx-auto my-12">
          <h2 class="text-2xl font-semibold mb-6">Cargar Temario</h2>
          <!-- <img [src]="url" height="200"> -->
          <!-- Example for PDF viewer -->
          <!-- <pdf-viewer [src]="url" [render-text]="true" style="display: block;"></pdf-viewer> -->

          <!-- Contenedor para el drag and drop y clic -->
          <!-- Disparar el evento de selección del archivo al hacer clic -->

          <div
            class="flex flex-col items-center justify-center h-40 border-2 border-gray-300 border-dashed rounded-md hover:border-blue-500 transition-colors duration-300"
            (click)="fileInput.click()"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
            (dragleave)="onDragLeave($event)"
          >
            <svg
              *ngIf="!isUploading && !selectedFile"
              class="w-16 h-14 text-gray-400 group-hover:text-blue-500 transition-colors duration-300"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
              ></path>
            </svg>

            <!-- Mensaje cuando no hay archivo seleccionado -->
            <p
              *ngIf="!selectedFile && !isUploading"
              class="mt-6 text-gray-500 group-hover:text-blue-500 transition-colors duration-300"
            >
              Selecciona un archivo para subir<br />o arrástralo aquí
            </p>

            <!-- Mostrar el nombre del archivo y el ícono correspondiente -->
            <div
              *ngIf="selectedFile && !isUploading"
              class="mt-6 flex items-center space-x-4"
            >
              <ng-container [ngSwitch]="fileExtension">
                <svg
                  *ngSwitchCase="'pdf'"
                  class="w-8 h-8 text-red-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13 2H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V9l-7-7z"
                  ></path>
                </svg>
                <svg
                  *ngSwitchCase="'doc'"
                  class="w-8 h-8 text-blue-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M15.74 2.72c-.61 0-1.22.24-1.66.66L11.18 5.2l-.24-.2C10.17 4.53 9.65 4 9.01 4H7.99c-.6 0-1.14.27-1.52.73L3.4 7.47c-.44.47-.72 1.06-.83 1.69-.1.6-.07 1.23.1 1.8.38.95 1.24 1.72 2.25 1.86 1.51.2 3.02-.6 4.14-2.23 1.14 1.63 2.67 2.43 4.27 2.45 1.06 0 2.05-.28 2.91-.78l2.99 3.45c.45.51 1.11.78 1.8.78 1.32 0 2.48-1.03 2.56-2.36.1-1.02-.35-2.06-1.14-2.75-.85-.75-2.02-1.04-3.18-.93-1.31.14-2.53.81-3.17 1.84-.42-.73-.97-1.39-1.63-1.99-.75-.72-1.6-1.37-2.47-1.88-.27-.21-.58-.37-.88-.54l-1.05-.49.72-2.32c.33-1.06-.47-2.11-1.54-2.11z"
                  ></path>
                </svg>
                <svg
                  *ngSwitchCase="'xlsx'"
                  class="w-8 h-8 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 3v18c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2z"
                  ></path>
                </svg>
                <div *ngSwitchDefault class="w-8 h-8 bg-gray-200 text-gray-400">
                  ?
                </div>
              </ng-container>
              <p class="text-sm font-medium text-gray-700">
                Archivo seleccionado: {{ selectedFile.name }}
              </p>
              <button
                type="button"
                class="mt-3 bg-red-500 hover:bg-red-600 text-white px-5 py-2 rounded-md"
                (click)="removeFile()"
              >
                Eliminar archivo
              </button>
            </div>
          </div>
          <label class="block mb-3 text-sm font-medium text-gray-700"
            >O súbelo desde una URL</label
          >
          <div class="flex">
            <input
              type="text"
              class="flex-1 px-5 py-3 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
              placeholder="https://ejemplo.com/archivo.csv"
            />
          </div>

          <input
            #fileInput
            type="file"
            (change)="onFileSelect($event)"
            hidden
            accept=".pdf"
          />
        </div>
        <!-- Botón para cerrar el modal -->
        <button
          (click)="mostrarFormulario = false"
          class="mt-4 text-gray-500 hover:text-gray-700"
        >
          Cerrar
        </button>


        <!-- Botón para enviar solicitud -->
        <div class="flex justify-end">
          <button
          type="submit"
          class="ui blue button"
          [disabled]="cursoForm.invalid || isLoading"
        >
          <i *ngIf="isLoading" class="notched circle loading icon"></i>
          {{ isLoading ? 'Enviando...' : 'Enviar solicitud a validador de curso' }}
        </button>

        </div>
      </form>
    </div>

    <!-- Visor de PDF -->
    <div *ngIf="fileExtension === 'pdf'" class="w-1/2">
      <h2 class="text-2xl font-semibold mb-6"> Temario</h2>

      <pdf-viewer *ngIf="fileExtension === 'pdf'"
      [original-size]="false"
        [src]="url"
        [render-text]="true"
        style="width: 100%; height: 600px"
        ></pdf-viewer>
      </div>
    </div>
    <!-- (after-load-complete)="callbackFn($event)" -->
    <!-- [show-all]="false" -->
    <!-- [page]="page" -->
</div>

