<div class="usuarios-container p-6 max-w-6xl mx-auto">
  <!-- Título de la sección -->
  <h2 class="text-2xl font-semibold text-gray-800 mb-6 flex items-center">
    <i class="fas fa-users text-blue-600 text-3xl mr-3"></i>
    Gestión de Usuarios
  </h2>

  <!-- Botón para dar alta usuario -->
  <div class="flex justify-end mb-6">
    <button
      (click)="abrirModalregistro()"
      class="px-6 py-3 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <i class="fas fa-user-plus mr-2"></i>
      Dar Alta Usuario
    </button>
  </div>




  <!-- Modal de Alta Usuario -->
<!-- Modal de Alta Usuario -->
<div *ngIf="mostrarModalregistro" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg shadow-lg w-96 p-6">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Alta de Usuario</h3>

    <!-- Formulario de Alta Usuario -->
    <form (ngSubmit)="crearUsuario()">
      <!-- Campo Nombre -->
      <div class="mb-4">
        <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
        <input
          id="nombre"
          type="text"
          [(ngModel)]="nuevoUsuario.nombre"
          name="nombre"
          class="w-full p-2 border rounded"
          required
        />
      </div>

      <!-- Campo Apellidos -->
      <div class="mb-4">
        <label for="apellidos" class="block text-sm font-medium text-gray-700">Apellidos</label>
        <input
          id="apellidos"
          type="text"
          [(ngModel)]="nuevoUsuario.apellidos"
          name="apellidos"
          class="w-full p-2 border rounded"
          required
        />
      </div>

      <!-- Campo Email -->
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          [(ngModel)]="nuevoUsuario.email"
          name="email"
          class="w-full p-2 border rounded"
          required
        />
      </div>

      <!-- Campo Username -->
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium text-gray-700">Nombre de Usuario</label>
        <input
          id="username"
          type="text"
          [(ngModel)]="nuevoUsuario.username"
          name="username"
          class="w-full p-2 border rounded"
          required
        />
      </div>

      <!-- Campo Contraseña con ver/ocultar -->
 <!-- Campo Contraseña con ver/ocultar -->
 <div class="mb-4 relative">
  <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
  <input
    id="password"
    [type]="mostrarPassword ? 'text' : 'password'" 
    [(ngModel)]="nuevoUsuario.password"
    name="password"
    class="w-full p-2 border rounded"
    required
  />
  <button
    type="button"
    (click)="togglePasswordVisibility()"
    class="absolute top-1/2 right-4 transform -translate-y-1/2 text-gray-600"
  >
    <!-- Icono de ver/ocultar con Semantic UI -->
    <i [class]="mostrarPassword ? 'eye slash icon' : 'eye icon'"></i>
  </button>
</div>

      <!-- Campo Rol -->
      <div class="mb-4">
        <label for="rol" class="block text-sm font-medium text-gray-700">Rol</label>
        <select
          id="rol"
          [(ngModel)]="nuevoUsuario.rol"
          name="rol"
          class="w-full p-2 border rounded"
          required
        >
        <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>

        </select>
      </div>

      <!-- Botones de acción -->
      <div class="flex justify-between">
        <button
          type="button"
          (click)="cerrarModalregistro()"
          class="px-6 py-2 bg-gray-400 text-white rounded-lg"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-6 py-2 bg-blue-600 text-white rounded-lg"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>






  <!-- Barra de búsqueda -->
  <div class="relative mb-6">
    <input
      type="text"
      placeholder="Buscar usuarios..."
      [(ngModel)]="filtro"
      class="p-3 w-full rounded-lg border border-gray-300 shadow focus:outline-none focus:ring-2 focus:ring-blue-500 pr-12"
    />
    <i class="fas fa-search absolute top-1/2 right-4 transform -translate-y-1/2 text-blue-500 text-lg"></i>
  </div>

  <div class="conteo-roles mt-6 p-4 bg-white rounded-lg shadow-sm">
    <!-- Título de la sección -->
    <h3 class="text-xl font-semibold text-gray-800 mb-4">
      Cantidad de Usuarios por Rol
    </h3>

    <!-- Contenido de los botones de roles -->
    <div class="flex flex-wrap gap-4">
      <button
        *ngFor="let rol of objectKeys(contarUsuariosPorRol())"
        (click)="filtrarPorRol(rol)"
        [ngClass]="getRoleClass(rol)"
        class="flex items-center px-4 py-2 text-white rounded-lg transition"
      >
        <span class="mr-2">{{ rol }}</span>
        <span class="bg-white text-gray-800 rounded-full px-2 py-1 text-xs font-bold">
          {{ contarUsuariosPorRol()[rol] }}
        </span>
      </button>
    </div>
  </div>

  <!-- Tabla de usuarios -->
<!-- Tabla de usuarios -->
<div class="overflow-x-auto bg-white rounded-xl shadow-lg">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-100 text-gray-600 text-sm">
      <tr>
        <th class="px-6 py-3">
          <i class="fas fa-user text-blue-500 mr-2"></i>Nombre
        </th>
        <th class="px-6 py-3">
          <i class="fas fa-envelope text-green-500 mr-2"></i>Email
        </th>
        <th class="px-6 py-3">
          <i class="fas fa-user-tag text-purple-500 mr-2"></i>Rol
        </th>
        <th class="px-6 py-3">
          <i class="fas fa-cogs text-gray-500 mr-2"></i>Acciones
        </th>
        <th class="px-6 py-3">
          <i class="fas fa-check-circle text-gray-500 mr-2"></i>Estado
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let usuario of usuariosFiltrados()"
        class="border-b hover:bg-gray-50 transition"
      >
        <td class="px-6 py-4 text-gray-700">{{ usuario.nombre }}</td>
        <td class="px-6 py-4 text-gray-700">{{ usuario.email }}</td>
        <td class="px-6 py-4 text-gray-700">{{ usuario.rol }}</td>
        <td class="px-6 py-4 flex space-x-2">
          <button
            (click)="abrirModalEditar(usuario)"
            class="flex items-center px-4 py-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition focus:outline-none"
          >
            <i class="fas fa-edit mr-2"></i>Editar
          </button>
          <button
            (click)="eliminarUsuario(usuario)"
            class="flex items-center px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 transition focus:outline-none"
          >
            <i class="fas fa-trash-alt mr-2"></i>Eliminar
          </button>
        </td>
        <!-- Columna de Estado -->
        <td class="px-6 py-4">
          <span
            [ngClass]="{
              'text-green-500': usuario.estatus === true,
              'text-red-500': usuario.estatus === false
            }"
            class="font-semibold"
          >
            <i
              [ngClass]="{
                'fas fa-check-circle': usuario.estatus === true,
                'fas fa-times-circle': usuario.estatus === false
              }"
              class="mr-2"
            ></i>
            {{ usuario.estatus === true ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- Modal para editar detalles del usuario -->
<div
  class="modal fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
  *ngIf="mostrarModalEditar"
>
  <div class="bg-white rounded-lg shadow-lg w-96 p-6">
    <h3 class="text-xl font-bold text-gray-800 mb-4 flex items-center">
      <i class="fas fa-user-edit text-yellow-600 mr-3"></i>Editar Usuario
    </h3>
    <!-- Nombre (solo lectura) -->
    <div class="mb-4">
      <label for="nombre" class="block text-gray-700 mb-2">Nombre:</label>
      <input
        id="nombre"
        [value]="usuarioEditado.nombre"
        disabled
        class="w-full p-3 rounded-lg border border-gray-300 bg-gray-100"
        placeholder="Nombre del usuario"
      />
    </div>

    <!-- Apellidos (solo lectura) -->
    <div class="mb-4">
      <label for="apellidos" class="block text-gray-700 mb-2">Apellidos:</label>
      <input
        id="apellidos"
        [value]="usuarioEditado.apellidos"
        disabled
        class="w-full p-3 rounded-lg border border-gray-300 bg-gray-100"
        placeholder="Apellidos del usuario"
      />
    </div>

    <!-- Correo electrónico (solo lectura) -->
    <div class="mb-4">
      <label for="email" class="block text-gray-700 mb-2">Email:</label>
      <input
        id="email"
        [value]="usuarioEditado.email"
        disabled
        class="w-full p-3 rounded-lg border border-gray-300 bg-gray-100"
        placeholder="Correo electrónico"
      />
    </div>

    <!-- Teléfono (solo lectura) -->
    <div class="mb-4">
      <label for="telefono" class="block text-gray-700 mb-2">Teléfono:</label>
      <input
        id="telefono"
        [value]="usuarioEditado.telefono"
        disabled
        class="w-full p-3 rounded-lg border border-gray-300 bg-gray-100"
        placeholder="Teléfono del usuario"
      />
    </div>

    <!-- Estatus (editable) -->
    <div class="mb-4">
      <label for="estatus" class="block text-gray-700 mb-2">Estatus:</label>
      <select
        id="estatus"
        [(ngModel)]="usuarioEditado.estatus"
        class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option [value]="true">Activo</option>
        <option [value]="false">Inactivo</option>
      </select>
    </div>

    <!-- Rol (editable) -->
    <div class="mb-4">
      <label for="rol" class="block text-gray-700 mb-2">Rol:</label>
      <select
        id="rol"
        [(ngModel)]="usuarioEditado.rol"
        class="w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
      </select>
    </div>

    <!-- Botones de acción -->
    <div class="flex justify-end space-x-4">
      <button
        (click)="guardarCambiosUsuario()"
        class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700 transition focus:outline-none"
      >
        <i class="fas fa-save mr-2"></i>Guardar
      </button>
      <button
        (click)="cerrarModalEditar()"
        class="px-4 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600 transition focus:outline-none"
      >
        <i class="fas fa-times mr-2"></i>Cancelar
      </button>
    </div>
  </div>
</div>




</div>
