<aside class="fixed top-0 left-0 h-screen w-64 bg-white text-[#fff] flex flex-col border border-gray-300 z-40">
    <!-- Logo -->
    <div class="flex items-center justify-center mb-8 pt-4">
        <img src="https://www.icathi.edu.mx/img/ICATHI.png" alt="ICATHI Logo" class="w-32 h-auto" />
    </div>

    <div class="px-6 py-4 text-center text-lg font-bold bg-white text-orange-500">
        Control Escolar
    </div>

    <nav class="flex-1 p-6 overflow-y-auto">
        <ul class="space-y-2">
            <!-- Consulta oferta educativa -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('home')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-tachometer-alt text-[#44509D] mr-3"></i> Consulta oferta educativa
                </a>
            </li>

            <!-- Listado de Planteles -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('lista-planteles')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-school text-[#44509D] mr-3"></i> Listado de Planteles
                </a>
            </li>

            <!-- Cursos -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('listado-cursos')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-book text-[#44509D] mr-3"></i> Cursos
                </a>
            </li>

            <!-- Docentes -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('postulaciones')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-chalkboard-teacher text-[#44509D] mr-3"></i> Postulaciones
                </a>
            </li>
            <!-- Docentes -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('docentes')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-chalkboard-teacher text-[#44509D] mr-3"></i> Docentes
                </a>
            </li>

            <!-- Instructores -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('Listado-instructores')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-users text-[#44509D] mr-3"></i> Instructores
                </a>
            </li>



            <!-- Gestión de Usuarios -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('listado-usuarios')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-user-cog text-[#44509D] mr-3"></i> Gestión de Usuarios
                </a>
            </li>

            <!-- Ejemplo pdf -->
            <!-- Gestor de Archivos -->
            <li class="cursor-pointer rounded-3xl hover:bg-gray-100 transition-all duration-300 hover:text-[#F08762]">
                <a (click)="navigateTo('gestor-archivos')" class="block py-3 px-6 flex items-center text-gray-600 hover:text-[#F08762]">
                    <i class="fas fa-folder-open text-[#44509D] mr-3"></i> Gestor de archivos
                </a>
            </li>


        </ul>

        <!-- Botón de cerrar sesión -->
        <button (click)="logout()" class="mt-8 mb-4 block px-4 py-3 flex items-center text-gray-600 w-full border-2 border-[#44509D] rounded-full hover:bg-[#44509D] hover:text-white transition-all duration-300 shadow-lg hover:shadow-[#8A4F98]">
      <i class="fas fa-sign-out-alt text-[#44509D] mr-3 hover:text-white"></i>
      Cerrar Sesión
    </button>
    </nav>

    <div class="bg-[#D8566C] px-6 py-4 text-sm text-center mt-auto">© 2024 Control Escolar</div>
</aside>