<button
  data-drawer-target="separator-sidebar"
  data-drawer-toggle="separator-sidebar"
  aria-controls="separator-sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <svg
    class="w-6 h-6"
    aria-hidden="true"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      clip-rule="evenodd"
      fill-rule="evenodd"
      d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
    ></path>
  </svg>
</button>

<aside
  id="separator-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-100">
    <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Control Escolar</h2>
    <ul class="space-y-2 font-medium">
      <li>
        <a
          (click)="navigateTo('home')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 22 21"
          >
            <path
              d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"
            />
            <path
              d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"
            />
          </svg>
          <span class="ms-3">Consulta oferta educativa</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('lista-planteles')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="flex-shrink-0 w-6 h-6 text-gray-600 transition duration-75 group-hover:text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M4 3a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4Zm1 2h10v10H5V5Zm2 1v1h2V6H7Zm0 3v1h4V9H7Zm0 3v1h2v-1H7Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Listado de Planteles</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('listado-cursos')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path
              d="M2 3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-5v2h2a1 1 0 1 1 0 2H7a1 1 0 1 1 0-2h2v-2H3a1 1 0 0 1-1-1V3Zm2 1v8h12V4H4Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Cursos</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('docentes')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path
              d="M2 3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-5v2h2a1 1 0 1 1 0 2H7a1 1 0 1 1 0-2h2v-2H3a1 1 0 0 1-1-1V3Zm2 1v8h12V4H4Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Docentes</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('Listado-instructores-cursos')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
            aria-hidden="true"
          >
            <path
              d="M10 10a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm0 2c-5.333 0-8 2.667-8 4v2h16v-2c0-1.333-2.667-4-8-4Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Instructores de Cursos</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('Listado-instructores')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Instructores</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('valida-instructor')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM12 4a2 2 0 1 1-4 0v1h4V4ZM3 16V7h12v9H3Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Validación de Instructores</span>
        </a>
      </li>

      <li>
        <a
          (click)="navigateTo('listado-usuarios')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
          >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM12 4a2 2 0 1 1-4 0v1h4V4ZM3 16V7h12v9H3Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Gestión de Usuarios</span>
        </a>
      </li>

      <!-- Example pdf  -->
      <li>
        <a
        (click)="navigateTo('pdf-example')"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-gray-200 group"
          >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 18 20"
          >
            <path
              d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM12 4a2 2 0 1 1-4 0v1h4V4ZM3 16V7h12v9H3Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Ejemplo pdf</span>
        </a>
      </li>

     
      <!-- Botón de Cerrar Sesión (Estático) -->
      <li>
        <a

        (click)="logout()"
          class="flex items-center p-2 text-gray-800 rounded-lg hover:bg-red-200 group"
        >
          <svg
            class="flex-shrink-0 w-5 h-5 text-gray-600 transition duration-75 group-hover:text-gray-900"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 2a1 1 0 0 1 1 1v3h4a1 1 0 0 1 0 2h-4v3a1 1 0 0 1-2 0v-3H5a1 1 0 0 1 0-2h4V3a1 1 0 0 1 1-1Z"
            />
          </svg>
          <span class="flex-1 ms-3 whitespace-nowrap">Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</aside>