<div class="flex min-h-full items-center justify-center px-4 sm:px-6 lg:px-8">
  <div *ngIf="registroCompletado" class="relative z-50">
    <div class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-sm"></div>
    <div class="fixed inset-0 flex items-center justify-center p-4">
      <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full">
        <div class="text-center">
          <i class="check circle outline icon huge text-green-500"></i>
          <h2 class="mt-4 text-lg font-semibold text-gray-800">
            ¡Registro completado!
          </h2>
          <p class="mt-2 text-sm text-gray-600">
            Tu usuario ha sido creado exitosamente.
          </p>
          <p class="mt-2 text-sm text-gray-600">
            Por favor, verifica tu correo electrónico para activar tu cuenta.
          </p>
        </div>
        <div class="mt-4 text-center">
          <button
            (click)="cerrarYRedirigir()"
            class="bg-[#44509D] hover:bg-[#2a3878] text-white font-medium py-2 px-4 rounded-md"
          >
            Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!registroCompletado" class="w-full max-w-md mx-auto">
    <div class="text-center">
      <img
        class="mx-auto h-12 w-auto"
        src="https://www.icathi.edu.mx/img/ICATHI.png"
        alt="ICATHI"
      />
      <h2 class="mt-6 text-3xl font-bold text-[#44509D] tracking-tight">
        Formulario de Registro Docente
      </h2>
      <p class="mt-4 text-sm text-gray-600">
        Completa los datos requeridos para iniciar tu proceso de registro.
      </p>
    </div>

    <form
      [formGroup]="postulationForm"
      (ngSubmit)="onSubmit()"
      class="grid grid-cols-2 gap-6"
    >
      <!-- Nombre -->
      <div class="flex flex-col">
        <label for="firstName" class="text-sm font-medium text-gray-700"
          >Nombre</label
        >
        <input
          formControlName="firstName"
          id="firstName"
          type="text"
          placeholder="Ingresa tu nombre"
          class="custom-input"
        />
        <div
          *ngIf="
            postulationForm.get('firstName')?.touched &&
            postulationForm.get('firstName')?.invalid
          "
          class="text-sm text-red-500 mt-2"
        >
          <div *ngIf="postulationForm.get('firstName')?.errors?.['required']">
            El nombre es obligatorio.
          </div>
          <div *ngIf="postulationForm.get('firstName')?.errors?.['minlength']">
            El nombre debe tener al menos 3 caracteres.
          </div>
        </div>
      </div>

      <!-- Apellido Paterno -->
      <div class="flex flex-col">
        <label for="lastName1" class="text-sm font-medium text-gray-700"
          >Apellido Paterno</label
        >
        <input
          formControlName="lastName1"
          id="lastName1"
          type="text"
          placeholder="Ingresa tu apellido paterno"
          class="custom-input"
        />
        <div
          *ngIf="
            postulationForm.get('lastName1')?.touched &&
            postulationForm.get('lastName1')?.invalid
          "
          class="text-sm text-red-500 mt-2"
        >
          <div *ngIf="postulationForm.get('lastName1')?.errors?.['required']">
            El apellido paterno es obligatorio.
          </div>
        </div>
      </div>

      <!-- Apellido Materno -->
      <div class="flex flex-col">
        <label for="lastName2" class="text-sm font-medium text-gray-700"
          >Apellido Materno</label
        >
        <input
          formControlName="lastName2"
          id="lastName2"
          type="text"
          placeholder="Ingresa tu apellido materno"
          class="custom-input"
        />
        <div
          *ngIf="
            postulationForm.get('lastName2')?.touched &&
            postulationForm.get('lastName2')?.invalid
          "
          class="text-sm text-red-500 mt-2"
        >
          <div *ngIf="postulationForm.get('lastName2')?.errors?.['required']">
            El apellido materno es obligatorio.
          </div>
        </div>
      </div>

      <!-- Correo Electrónico -->
      <div class="flex flex-col">
        <label for="email" class="text-sm font-medium text-gray-700"
          >Correo Electrónico</label
        >
        <input
          formControlName="email"
          id="email"
          type="email"
          placeholder="Ingresa tu correo electrónico"
          class="custom-input"
        />
        <div
          *ngIf="
            postulationForm.get('email')?.touched &&
            postulationForm.get('email')?.invalid
          "
          class="text-sm text-red-500 mt-2"
        >
          <div *ngIf="postulationForm.get('email')?.errors?.['required']">
            El correo electrónico es obligatorio.
          </div>
          <div *ngIf="postulationForm.get('email')?.errors?.['email']">
            El correo electrónico no es válido.
          </div>
        </div>
      </div>

      <!-- Teléfono -->
      <div class="flex flex-col">
        <label for="phone" class="text-sm font-medium text-gray-700"
          >Teléfono</label
        >
        <input
          formControlName="phone"
          id="phone"
          type="text"
          placeholder="Ingresa tu número de teléfono"
          class="custom-input"
        />
        <div
          *ngIf="
            postulationForm.get('phone')?.touched &&
            postulationForm.get('phone')?.invalid
          "
          class="text-sm text-red-500 mt-2"
        >
          <div *ngIf="postulationForm.get('phone')?.errors?.['required']">
            El teléfono es obligatorio.
          </div>
          <div *ngIf="postulationForm.get('phone')?.errors?.['pattern']">
            El teléfono debe tener 10 dígitos.
          </div>
        </div>
      </div>

      <!-- Especialidad -->
      <div class="flex flex-col">
        <label for="specialty" class="text-sm font-medium text-gray-700"
          >Especialidad</label
        >
 
        <select formControlName="specialty" id="specialty" class="custom-input">
          <option value="">Selecciona una especialidad</option>
          <option *ngFor="let item of especialidades.especialidades" [value]="item.especialidad_id">{{ item.especialidad_nombre }}</option>
        </select>
        
        <div
          *ngIf="
            postulationForm.get('specialty')?.touched &&
            postulationForm.get('specialty')?.invalid
          "
          class="text-sm text-red-500 mt-2"
        >
          <div *ngIf="postulationForm.get('specialty')?.errors?.['required']">
            La especialidad es obligatoria.
          </div>
        </div>
      </div>
      <!-- Botón de Enviar -->
      <div class="col-span-2 text-center">
        <button
          type="submit"
          class="bg-[#44509D] hover:bg-[#2a3878] text-white font-medium py-2 px-4 rounded-md"
        >
          Enviar
        </button>
      </div>
    </form>
  </div>
</div>

<style>
  .custom-input {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #374151;
    background-color: #f9fafb;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .custom-input:focus {
    outline: none;
    border-color: #44509d;
    box-shadow: 0 0 0 3px rgba(68, 80, 157, 0.2);
  }
</style>
