/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* El body se convierte en un contenedor grid */
/* Establecer el diseño principal para que ocupe toda la altura de la pantalla */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que el body ocupe al menos toda la altura de la pantalla */
  margin: 0; /* Elimina márgenes predeterminados */
}

/* Asegura que el contenido principal ocupe el espacio restante */
router-outlet {
  flex: 1; /* Hace que el contenido ocupe el espacio disponible entre el header y el footer */
}

/* Footer pegado al fondo */
footer {
  background-color: #f3f4f6; /* bg-light-600 */
  color: #000; /* text-black */
  padding: 2rem 0; /* py-8 */
  margin-top: auto; /* Asegura que el footer siempre esté pegado al fondo */
}
@keyframes glowing-border {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.9), 0 0 30px rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
  }
}

.animate-glowing-border {
  animation: glowing-border 1.5s infinite alternate;
}
